@page "/forgotpassword"
@using Microsoft.AspNetCore.Identity
@using SpostatoDAL.Models
@using SpostatoBL.Service
@using System.ComponentModel.DataAnnotations
@using System.Text.Encodings.Web
@inject UserManager<ApplicationUser> UserManager
@inject IEmailService EmailService
@inject NavigationManager NavigationManager

<RadzenCard>
    <h2 class="mb-4">Wachtwoord vergeten</h2>

    <RadzenTemplateForm TItem="InputModel" Data="@input" Submit="@HandleForgotPassword">
        <RadzenFormField Text="E-mailadres" Variant="Variant.Filled">
            <RadzenTextBox Name="Email" @bind-Value="@input.Email" />
            <RadzenRequiredValidator Component="Email" Text="E-mailadres is verplicht" Popup="true" />
            <RadzenEmailValidator Component="Email" Text="Ongeldig e-mailadres" Popup="true" />
        </RadzenFormField>

        <RadzenButton ButtonType="ButtonType.Submit" Text="Verzend reset link" ButtonStyle="ButtonStyle.Primary" Class="mt-4" />
    </RadzenTemplateForm>
</RadzenCard>

