@page "/forgotpasswordconfirmation"

<h2>Wachtwoord vergeten bevestiging</h2>

<p>
    Als u een account heeft bij ons met het opgegeven e-mailadres, hebben we u instructies gestuurd om uw wachtwoord te resetten.
    Controleer uw e-mail (inclusief uw spamfolder).
</p>