@page
@model WebApp.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<h2>@ViewData["Title"]</h2>

<p>
    Als u een account heeft bij ons met het opgegeven e-mailadres, hebben we u instructies gestuurd om uw wachtwoord te resetten. 
    Controleer uw e-mail (inclusief uw spamfolder).
</p>
<p>
    Als u na enkele minuten nog geen e-mail heeft ontvangen, probeer het dan opnieuw of neem contact op met onze klantenservice.
</p>
